

#top{
	font-size: 75px;
}

.sidebar_list {
	list-style: none
}

body {
	background-color: #ededef !important;
}

.bloglist {
	background-color: #f8f3f3;
	border-radius: 5px;
}

#email {
	font-size:30px;
	}

#header {
	color: red;
	}
.content {
	font-size: 21px;
	text-align:justify;
	}
	
.progress-bar {
	min-width: 8%;
}