{% include 'header.html' %}

<body>
	{% include 'top_bar.html' %}
	<div class="container">
		<form action="POST">
			Enter your list of participating friends: <br>
			<input type="text" name="friend_1"></input><br>
			<input type="text" name="friend_2"></input><br>
			<input type="text" name="friend_3"></input><br>
			<input type="text" name="friend_4"></input><br>
			<input type="text" name="friend_5"></input><br>
			<input type="text" name="friend_6"></input><br>
			<input type="submit" value="Make Pairs"></input>
		</form>
		
		</span>
		</div>
	</div>
</body>