{% include 'header.html' %}

<body>
{% include 'top_bar.html' %}
	<form method="POST">
		<ul>
		<li>Title: <input type="text" name="title" size="40"></li>
		<li>BP Content File: <input type="file" name="datafile" size="40"></li>
		<li>Author: <input type="text" name="author" size="40"></li>
		<li>Tags: <input type="text" name="tags" size="40"></li>
		<li>PW: <input type="password" name="pw" size="40"></li>
		<li><input type="submit" name="submit" value="Upload"></li>
		</ul>
		{{message}}
	</form>
</body>