

{% include 'header.html' %}
<link rel="stylesheet" href="/static/set.css" type="text/css">
<script src="/static/set.js"></script>
<body>
	{% include 'top_bar.html' %}
	<div class="container">
		<div class="row">
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile0"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile1"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile2"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile3"></div>
		</div>

		<div class="row">
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile4"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile5"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile6"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile7"></div>
		</div>

		<div class="row">
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile8"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile9"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile10"></div>
		  <div class="tile col-md-2 col-xs-2"><img src="" class="img-thumbnail tileImg" id="tile11"></div>
		</div>

			
		<div class="row">
			<div class="col-md-2 col-xs-2 h1">Score: <span id="score">0</span></div>
			<div class="col-md-3 col-md-offset-1 col-xs-offset-1 col-xs-3 h1"><div id="message"></div></div>
			<div class="col-md-2 col-xs-2"><button class="btn btn-default" id="reset">Reset board</button></div>
		</div>
		
	</div>
</body>